.cart-main{
    display: flex;
    flex-direction: column;
    padding: 5% 15%;
    min-height: 67.5vh;
}

.my-cart{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    display: flex;
    justify-content: space-between;
    margin-right: 22%;
}

.my-cart-left{
    display: flex;
    flex-direction: column;
    padding:  0 25px;
    flex-grow: 4;
}

.my-cart-left-header{
    text-align: left;
    font-size: 24px;
    font-family:  Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    cursor: pointer;
}

.my-cart-right{
    margin-top: auto;
    padding: 20px;
    flex-grow: 1;
}

.my-book{
    display: flex;
    padding: 10px;
    justify-content: left;
}

.my-book-left{
    padding: 10px;
}

.my-book-right{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 50px;
}

.my-book-left-image{
    margin: 20px 0;
}

.my-book-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}

.my-book-handler{
    display: flex;
    flex-grow: 1;
    padding-top: 40px;
    
}

.my-book-name{
    font: normal normal normal 20px Lato;
    color: #0A0102;
}

.my-book-author{
    font: normal normal normal 17px Lato;
    color: #9D9D9D;
    margin-top: -5px;
}

.my-book-cost{
    font: normal normal bold 20px Lato;
    color: #0A0102;
    padding-top: 10px
}

.counter{
    display: flex;
    height: 40px;
    justify-content: space-evenly;
}

.customer-details{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    margin-right: 22%;
    margin-top: 30px;
}

.customer-details-header{
    text-align: left;
    font-size: 22px;
    font-family:  Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
    text-transform: capitalize;
    padding:  0 25px;
    cursor: pointer;
}

.collapse-main{
    display: flex;
    padding: 10px 20px;
}

.collapse-main-left{
    flex-grow: 4;
    padding-right: 20px;
}

.collapse-main-right{
    flex-grow: 1;
    margin-top: auto;
    padding-bottom: 20px;
}

.textfield-box{
    display: flex;
}

.customer-details-radio-header{
    text-align: left;
    font-size: 18px;
    font-family:  Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
    text-transform: capitalize;
}

.order-summary{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:'600px') {
    .cart-main{
        padding: 20px;
        .my-cart{
            margin-right: 0px;
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            .my-book{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 10px 0;
            }
            .my-book-left{
                padding-left: 0;
                margin: 0 auto;
                .my-book-left-image{
                    margin: 0;
                }
            }
            .my-cart-left-header{
                margin: 15px 0;
            }
            
            .my-book-right{
                margin: auto;
                .my-book-details{
                    text-align: center;
                }
                .my-book-handler{
                    padding: 15px 0;
                }
            }
            .my-cart-right{
                margin: 0;
                margin-left: auto;
            }
        }

        .customer-details{
            margin: 0;
            margin-top: 20px;
            flex-direction: column;
            .collapse-main{
                flex-direction: column;
                padding: 10px;
            }
            .collapse-main-left{
                padding: 0%;
            }
            .textfield-box{
                flex-wrap: wrap;
            }
            .collapse-main-right{
                margin-left: auto;
            }
        }
        
        .order-summary{
            flex-direction: column;
            .empty{
                display: none;
            }
            .my-book-details{
                justify-content: center;
            }
            .my-cart-left{
                padding: 0 10px;
            }
            .my-cart-right{
                margin-left: auto;
            }
        }
    }
    
}

@media only screen and (max-width:'1300px') {
    .my-cart{
        margin-right: 0;
    }
    .customer-details{
        margin-right: 0;
    }
    .order-summary{
        margin-right: 0%;
    }
}

@media only screen and (max-width:'1024px') {
    .cart-main{
        padding: 2% 5%;
    }
}

@media only screen and (max-width:'800px') {
    .my-cart{
        flex-direction: column;
        .my-book{
            margin: auto;
        }
        .my-cart-right{
            margin-left: auto;
        }
    }
    .collapse-main{
        flex-direction: column;
        .collapse-main-right{
            margin-left: auto;
        }
    }

    .order-summary{
        flex-direction: column;
        .my-book{
            margin: auto;
        }
        .my-cart-right{
            margin-left: auto;
        }
    }
}